# Dependencies
node_modules/

# Environment variables
.env

# Build folder
dist/

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Coverage
coverage/

# Temporary files
.tmp/
.temp/

# TypeScript cache
*.tsbuildinfo